* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}

header {
    padding: 23px 0;
    background-color: #2965f1;
}

header span {
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    background-color: #fafaff;
    padding: 60px 0;
}

.main-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #303030;
    margin-bottom: 20px;
}

.main-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #303030;
}

.main-image {
    width: 715px;
}


.about-section {
    background-color: #fff;
    padding: 100px 0;
}

select {
    width: 150px;
    height: 36px;
    padding: 9px 12px;
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    appearance: none;
    background-image: url(./ep_arrow-down.svg);
    background-repeat: no-repeat;
    background-position: bottom 10px right 12%;
}

.section-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #303030;
}

.frameworks-list {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #303030;
    list-style-image: url(./solar_map-arrow-up-bold.svg);
    padding-left: 20px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
}

.label {
    /* Стили для подписей чекбоксов */
}

.text-field {
    /* Стили для односточного поля ввода текста */
}

.btn {
    /* Стили для кнопки */
}

.line {
    /* Стили для линии */
}

table {
    /* Стили для таблицы */
}

th, td {
    /* Стили для ячеек таблицы */
}

footer {
    /* Стили для футера */
}

.footer-link {
    /* Стили для футера */
}